In [37]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [38]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [39]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

23/07/23 21:43:19 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.

In [40]:
df.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

In [41]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [42]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql("""SELECT date_built, round(avg (price),2) AS Average_Price
             FROM home_sales 
             WHERE bedrooms==4 
             group By date_built
             order by date_built""").show()

+----------+-------------+
|date_built|Average_Price|
+----------+-------------+
|      2010|    296800.75|
|      2011|     302141.9|
|      2012|    298233.42|
|      2013|    299999.39|
|      2014|    299073.89|
|      2015|    307908.86|
|      2016|    296050.24|
|      2017|    296576.69|
+----------+-------------+

In [43]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
spark.sql("""SELECT date_built, round(avg (price),2) AS Average_Price
             FROM home_sales 
             WHERE bedrooms==3 
             AND bathrooms==3 
             group By date_built
             order by date_built""").show()

+----------+-------------+
|date_built|Average_Price|
+----------+-------------+
|      2010|    292859.62|
|      2011|    291117.47|
|      2012|    293683.19|
|      2013|    295962.27|
|      2014|    290852.27|
|      2015|     288770.3|
|      2016|    290555.07|
|      2017|    292676.79|
+----------+-------------+

In [44]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
spark.sql("""SELECT date_built, round(avg (price),2) AS Average_Price
             FROM home_sales 
             WHERE bedrooms==3 
             AND bathrooms==3 
             AND floors==2
             AND sqft_lot >= 2000
             group By date_built
             order by date_built
             """).show()

+----------+-------------+
|date_built|Average_Price|
+----------+-------------+
|      2010|    280447.23|
|      2011|    281413.45|
|      2012|    295858.68|
|      2013|    295142.13|
|      2014|    294195.13|
|      2015|    291788.36|
|      2016|     287812.6|
|      2017|    282026.59|
+----------+-------------+

In [45]:
# 6. What is the "view" rating for homes costing more than or equal to $350,000? 
#Determine the run time for this query, and round off your answer to two decimal places.

start_time = time.time()

spark.sql("""SELECT round(avg (view),2)
             FROM home_sales 
             WHERE price >=350000""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------------+
|round(avg(view), 2)|
+-------------------+
|              32.26|
+-------------------+

--- 0.16710186004638672 seconds ---

In [46]:
# 6. CONTINUED
start_time = time.time()

spark.sql("""SELECT id, price, view
             FROM home_sales 
             WHERE price >=350000""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+------+----+
|                  id| price|view|
+--------------------+------+----+
|f8a53099-ba1c-47d...|936923|  76|
|7530a2d8-1ae3-451...|379628|  23|
|43de979c-0bf0-4c9...|417866|   0|
|e0726d4d-d595-407...|424418|   4|
|131492a1-72e2-4a8...|419199|   6|
|f1e4cef7-d151-439...|398667|   7|
|ea620c7b-c2f7-4c6...|437958|  26|
|f233cb41-6f33-4b0...|437375|  34|
|164f451a-413b-469...|377485|  23|
|2dc662fe-57b8-44b...|417215|  48|
|a16c1fd3-50c3-4e7...|372151|  16|
|d715f295-2fbf-4e9...|391574|  10|
|a18515a2-86f3-46b...|419543|  24|
|15a5830f-1529-4c5...|843191|  91|
|0ffe23e3-9d0f-442...|429183|  49|
|209c1286-0834-463...|395178|  37|
|bb2ff269-f08f-4e8...|429030|  23|
|77a2d239-67a3-43b...|396508|  25|
|141ef834-60cf-42e...|399016|  23|
|34c31a34-220d-469...|409011|   1|
+--------------------+------+----+
only showing top 20 rows

--- 0.08446621894836426 seconds ---

In [47]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [48]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [49]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("""SELECT round(avg (view),2) 
             AS Average_View_Rating
             FROM home_sales 
             WHERE price >=350000""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------------+
|Average_View_Rating|
+-------------------+
|              32.26|
+-------------------+

--- 0.1485581398010254 seconds ---

In [50]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [51]:
# 11. Read the formatted parquet data.
df_2 = spark.read.parquet('home_sales_partitioned')

In [52]:
# 12. Create a temporary table for the parquet data.
df_2.createOrReplaceTempView('home_sales_2')

In [53]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

start_time = time.time()

spark.sql("""SELECT round(avg (view),2) 
             AS Average_View_Rating
             FROM home_sales_2 
             WHERE price >=350000""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------------+
|Average_View_Rating|
+-------------------+
|              32.26|
+-------------------+

--- 0.12478184700012207 seconds ---

In [54]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [55]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False